extends /layouts/application.pug

block content
  .container
    .py-4.text-center
      h2 Water Meter Statistics

  .container.mt-4
    h4.mb-4.text-center Overall
    .table-responsive
      table.table.table-hover
        thead.thead-light
          tr
            th Water
            th Average Monthly Consumption
            th Total Consumption
            th Count of periods 

        tbody
          if watermeters
            each watermeter in watermeters
              tr(class= (watermeter.waterType === 'cold' ? 'text-primary' : 'text-danger'))
                td= watermeter.waterType
                td= watermeter.averageMonthlyConsumption
                td= watermeter.totalConsumption
                td= watermeter.periodsCount


  .container.mt-4
    h4.mb-4.text-center Readouts
    .table-responsive
      table.table.table-hover
        thead.thead.thead-light
          tr
            //- th Number
            th Month
            th Cold Meter Value
            th Consumption
            th Hot Meter Value
            th Consumption
            th Year
            th Readout ID
        

        tbody
          if readouts
            each readout, index in readouts
              tr
                //- td= index + 1
                //- td= readout.id
                td= readout.cold.getMonth()
                td.text-primary= readout.cold.value
                td.text-primary= `+ ${readout.cold.diffValue}`
                td.text-danger= readout.hot.value
                td.text-danger= `+ ${readout.hot.diffValue}`
                td= readout.cold.getYear()
                td= `${readout.cold.id}-${readout.cold.id}`
                